.secondary,
.btn {
  padding: 0.6rem 2.4rem;
  background-color: var(--primary);
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

@media screen and (max-width: 480px) {
  .secondary,
  .btn {
    padding: 0.4rem 2rem;
    font-size: 1.2rem;
  }
}

.btn:hover {
  background-color: var(--primary-dark);
}

.secondary:hover {
  background-color: var(--primary);
  color: white;
}
